.card-text{
    margin-bottom: 0;
    display:block;
    text-overflow: ellipsis;
    width: 220px;
    overflow: hidden;
    white-space:nowrap;
}
.text-muted a{
    font-weight: bold;
    color: #a9afba;
    font-size: 13px
}

.text-muted a:hover {
    color: #1b6d85;
}
#read{
    font-weight: bold;
    color: #1b6d85;
    float: right;
}
#read:hover{
    color: #2aabd2;
}
#read2{
    font-weight: bold;
    color: #ee30f4;
    float: right;
}
#read2:hover{
    color: #2aabd2;
}
.post-footer li{
    display: inline-block;
    padding-right: 25px;
}