
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" th:href="@{/folderforlogin/images/icons/favicon.ico}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/folderforlogin/vendor/bootstrap/css/bootstrap.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/folderforlogin/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/folderforlogin/fonts/iconic/css/material-design-iconic-font.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/folderforlogin/vendor/animate/animate.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/folderforlogin/vendor/css-hamburgers/hamburgers.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/folderforlogin/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/folderforlogin/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/folderforlogin/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/folderforlogin/css/util.css">
    <link rel="stylesheet" type="text/css" href="/folderforlogin/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!--===============================================================================================-->
</head>
<body>
<h2>Opps the link is not valid!</h2>
<div id="dropDownSelect1"></div>
<script>
</script>
<!--===============================================================================================-->
<script src="folderforlogin/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="folderforlogin/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="folderforlogin/vendor/bootstrap/js/popper.js"></script>
<script src="folderforlogin/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="folderforlogin/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="folderforlogin/vendor/daterangepicker/moment.min.js"></script>
<script src="folderforlogin/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="folderforlogin/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="folderforlogin/js/main.js"></script>
</body>
</html>
