<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
    <title>New Blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="folderforindex/styles/bootstrap4/bootstrap.min.css">
    <link href="folderforindex/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="folderforindex/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="folderforindex/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="folderforindex/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="folderforindex/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="folderforindex/styles/my.css">
    <link rel="stylesheet" type="text/css" href="folderforindex/styles/responsive.css">

    <link rel="stylesheet" href="tast/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="tast/css/animate.css">

    <link rel="stylesheet" href="tast/css/owl.carousel.min.css">
    <link rel="stylesheet" href="tast/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="tast/css/magnific-popup.css">

    <link rel="stylesheet" href="tast/css/aos.css">

    <link rel="stylesheet" href="tast/css/ionicons.min.css">

    <link rel="stylesheet" href="tast/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="tast/css/jquery.timepicker.css">


    <link rel="stylesheet" href="tast/css/flaticon.css">
    <link rel="stylesheet" href="tast/css/icomoon.css">
    <link rel="stylesheet" href="tast/css/style.css">
  </head>
  <body>


  <div class="super_container">

    <!-- Header -->

    <header class="header">

      <!-- Top Bar -->

      <div class="top_bar">
        <div class="container">
          <div class="row">
            <div class="col d-flex flex-row">
              <div class="social">
                <ul class="social_list">

                  <li class="social_list_item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li class="social_list_item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li class="social_list_item"><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                  <li class="social_list_item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>

                </ul>
              </div>
              <div class="user_box ml-auto">
                <div class="user_box_register user_box_link"><a th:if="${#request.userPrincipal !=null}" th:href="@{/logout}">Logout</a></div>
                <div class="user_box_register user_box_link"><a th:if="${#request.userPrincipal !=null}" th:href="@{/userPage(username=${#request.userPrincipal.name})}"  th:text="${#request.userPrincipal.name}"></a></div>

                <div class="user_box_register user_box_link"><a th:if="${#request.userPrincipal == null}" th:href="@{/registration}">Register</a></div>
                <div class="user_box_register user_box_link"><a th:if="${#request.userPrincipal == null}" th:href="@{/login}">Login</a></div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Main Navigation -->

      <nav class="main_nav">
        <div class="container">
          <div class="row">
            <div class="col main_nav_col d-flex flex-row align-items-center justify-content-start">
              <div class="logo_container">
                <div class="logo"><a th:href="@{/}"><img src="" alt="">opentravel</a></div>
              </div>
              <div class="main_nav_container ml-auto">
                <ul class="main_nav_list">
                  <li class="main_nav_item"><a th:href="@{/}">home</a></li>
                  <li class="main_nav_item"><a th:href="@{/about}">about us</a></li>
                  <li class="main_nav_item"><a th:href="@{/places}">offers</a></li>
                  <li class="main_nav_item"><a th:href="@{/blog}">blog</a></li>
                  <li class="main_nav_item"><a th:href="@{/gids}">users</a></li>
                  <li class="main_nav_item"><a th:href="@{/chats}">chats</a></li>
                </ul>
              </div>
              <div class="content_search ml-lg-0 ml-auto">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							width="17px" height="17px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
								<g>
									<g>
										<g>
											<path class="mag_glass" fill="#FFFFFF" d="M78.438,216.78c0,57.906,22.55,112.343,63.493,153.287c40.945,40.944,95.383,63.494,153.287,63.494
											s112.344-22.55,153.287-63.494C489.451,329.123,512,274.686,512,216.78c0-57.904-22.549-112.342-63.494-153.286
											C407.563,22.549,353.124,0,295.219,0c-57.904,0-112.342,22.549-153.287,63.494C100.988,104.438,78.439,158.876,78.438,216.78z
											M119.804,216.78c0-96.725,78.69-175.416,175.415-175.416s175.418,78.691,175.418,175.416
											c0,96.725-78.691,175.416-175.416,175.416C198.495,392.195,119.804,313.505,119.804,216.78z"/>
										</g>
									</g>
									<g>
										<g>
											<path class="mag_glass" fill="#FFFFFF" d="M6.057,505.942c4.038,4.039,9.332,6.058,14.625,6.058s10.587-2.019,14.625-6.058L171.268,369.98
											c8.076-8.076,8.076-21.172,0-29.248c-8.076-8.078-21.172-8.078-29.249,0L6.057,476.693
											C-2.019,484.77-2.019,497.865,6.057,505.942z"/>
										</g>
									</g>
								</g>
							</svg>
              </div>

              <form id="search_form" class="search_form bez_1">
                <input type="search" class="search_content_input bez_1">
              </form>

              <div class="hamburger">
                <i class="fa fa-bars trans_200"></i>
              </div>
            </div>
          </div>
        </div>
      </nav>

    </header>

    <div class="menu trans_500">
      <div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
        <div class="menu_close_container"><div class="menu_close"></div></div>
        <div class="logo menu_logo"><a href="#"><img src="images/logo.png" alt=""></a></div>
        <ul>
          <li class="menu_item"><a th:href="@{/}">home</a></li>
          <li class="menu_item"><a th:href="@{/about}">about us</a></li>
          <li class="menu_item"><a th:href="@{/places}">offers</a></li>
          <li class="menu_item"><a th:href="@{/blog}">blog</a></li>
          <li class="menu_item"><a th:href="@{/gids}">users</a></li>
        </ul>
      </div>
    </div>

    <!-- Home -->

    <div class="home">

      <!-- Home Slider -->

      <div class="home_slider_container">

        <div class="owl-carousel owl-theme home_slider">

          <!-- Slider Item -->
          <div class="owl-item home_slider_item">
            <div class="home_slider_background" style="background-image:url(images/dow.jpg)"></div>

            <div class="home_slider_content text-center">
              <div class="home_slider_content_inner" data-animation-in="flipInX" data-animation-out="animate-out fadeOut">
                <h1 style="font-size: 45px">post</h1>
                <h1 style="font-size: 85px">a new blog</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
    <!-- END nav -->
    <section class="ftco-section">
      <div class="container">
        <div class="row no-gutters justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2>Write a new blog</h2>
          </div>
        </div>
        <div class="row d-flex">
          <div class="col-md-4 ftco-animate img" style="background-image: url(images/и.jpg);"></div>
          <div class="col-md-8 ftco-animate makereservation p-5 bg-light">
            <form th:action="@{/newBlog}" enctype="multipart/form-data" th:object="${blog}" method="post" class="login100-form validate-form">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="validation-message" style="color: red"></label>
                    <label for="">Title</label>
                    <input type="text" th:field="*{title}" class="form-control" placeholder="Title">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label th:if="${#fields.hasErrors('text')}" th:errors="*{text}" class="validation-message" style="color: red"></label>
                    <label for="">Description</label>
                    <textarea type="text" th:field="*{text}" class="form-control" placeholder="Description"></textarea>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="validation-message" style="color: red"></label>
                    <label  class="validation-message">Category</label>
                    <div class="select-wrap one-third">
                      <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                      <select class="form-control" th:field="*{category}">
                        <option value=""> -- </option>
                        <option value="Nature">Nature</option>
                        <option value="Parks">Parks</option>
                        <option value="Culture">Culture</option>
                        <option value="Hotel">Hotel</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Photo 1</label>
                    <input type="file" class="form-control"  name="file1">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Photo 2</label>
                    <input type="file" class="form-control"  name="file2">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Photo 3</label>
                    <input type="file" class="form-control"  name="file3">
                  </div>
                </div>
                <div class="col-md-12 mt-3">
                  <div class="form-group">
                    <input type="submit" value="new blog" class="btn btn-primary py-3 px-5">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 order-lg-1 order-2  ">
          <div class="copyright_content d-flex flex-row align-items-center">
            <div><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This project is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by Brigada
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
          </div>
        </div>
        <div class="col-lg-9 order-lg-2 order-1">
          <div class="footer_nav_container d-flex flex-row align-items-center justify-content-lg-end">
            <div class="footer_nav">
              <ul class="footer_nav_list">
                <li class="footer_nav_item"><a th:href="@{/}">home</a></li>
                <li class="footer_nav_item"><a th:href="@{/about}">about us</a></li>
                <li class="footer_nav_item"><a th:href="@{/places}">offers</a></li>
                <li class="footer_nav_item"><a th:href="@{/blod}">blog</a></li>
                <li class="footer_nav_item"><a th:href="@{/gids}">users</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

    <script src="folderforindex/js/jquery-3.2.1.min.js"></script>
    <script src="folderforindex/styles/bootstrap4/popper.js"></script>
    <script src="folderforindex/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="folderforindex/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="folderforindex/plugins/easing/easing.js"></script>
    <script src="folderforindex/js/custom.js"></script>
    <script src="tast/js/jquery.min.js"></script>
    <script src="tast/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="tast/js/popper.min.js"></script>
    <script src="tast/js/bootstrap.min.js"></script>
    <script src="tast/js/jquery.easing.1.3.js"></script>
    <script src="tast/js/jquery.waypoints.min.js"></script>
    <script src="tast/js/jquery.stellar.min.js"></script>
    <script src="tast/js/owl.carousel.min.js"></script>
    <script src="tast/js/jquery.magnific-popup.min.js"></script>
    <script src="tast/js/aos.js"></script>
    <script src="tast/js/jquery.animateNumber.min.js"></script>
    <script src="tast/js/bootstrap-datepicker.js"></script>
    <script src="tast/js/jquery.timepicker.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="tast/js/google-map.js"></script>
    <script src="tast/js/main.js"></script>


  </body>
</html>
