<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Login V9</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" th:href="@{/folderforlogin/images/icons/favicon.ico}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/folderforlogin/vendor/bootstrap/css/bootstrap.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/folderforlogin/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/folderforlogin/fonts/iconic/css/material-design-iconic-font.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/folderforlogin/vendor/animate/animate.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/folderforlogin/vendor/css-hamburgers/hamburgers.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/folderforlogin/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/folderforlogin/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/folderforlogin/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/folderforlogin/css/util.css">
	<link rel="stylesheet" type="text/css" href="/folderforlogin/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!--===============================================================================================-->
</head>
<body>


<div class="container-login100" style="background-image: url('/folderforlogin/images/k1.jpg');">
	<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
		<h6><span class="text-success" id="suc"></span></h6>
		<form class="login100-form validate-form">
				<span class="login100-form-title p-b-37">
					Set a new password
				</span>
			<div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
				<input class="input100" type="password" id="password" name="password" placeholder="password">
				<input th:value="${token}" name="token" type="hidden" id="token" >
				<span class="focus-input100"></span>
			</div>
			<div class="wrap-input100 validate-input m-b-25" data-validate = "Confirm password">
				<input class="input100" type="password" id="password1" name="password1" placeholder="Again password">
				<span class="focus-input100"></span>
			</div>

			<div class="container-login100-form-btn">
				<button class="login100-form-btn" type="button" id="pas">
					Submit
				</button>
			</div>

			<div class="text-center">
				<a class="txt2 hov1" th:href="@{/registration}">
					Sign Up
				</a>
			</div>
			<div class="text-center">
				<a class="txt2 hov1" th:href="@{/login}">
					Sign In
				</a>
			</div>
		</form>

	</div>
</div>



<div id="dropDownSelect1"></div>
<script>
    $(document).ready(function() {
        $("#pas").on("click",function(){
            console.log("hhh");
			if($("#password").val()==$("#password1").val()){
			    console.log("dsx");
                $.ajax({
                    url:"/newPassword",
                    type:"GET",
                    data:({password:$("#password").val(), token:$("#token").val()}),
                    dataType: 'json',
                    contentType: "application/json",
					success: funcSuccess
                });
			}
			else {
			    $("#suc").text("The passwords are not equal");
			}
        });
        function funcSuccess(data) {
            console.log(data);
            window.location.href="/login";
        }
    });
</script>
<!--===============================================================================================-->
<script src="folderforlogin/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="folderforlogin/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="folderforlogin/vendor/bootstrap/js/popper.js"></script>
<script src="folderforlogin/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="folderforlogin/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="folderforlogin/vendor/daterangepicker/moment.min.js"></script>
<script src="folderforlogin/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="folderforlogin/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="folderforlogin/js/main.js"></script>

</body>
</html>