<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Dashboard</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Fontfaces CSS-->
    <link href="folderforadmin/css/font-face.css" rel="stylesheet" media="all">
    <link href="folderforadmin/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="folderforadmin/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="folderforadmin/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="folderforadmin/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="folderforadmin/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="folderforadmin/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="folderforadmin/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="folderforadmin/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="folderforadmin/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="folderforadmin/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="folderforadmin/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="folderforadmin/css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="images/technodom.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a href="#" th:href="@{/}">
                                <i class="fas fa-tachometer-alt"></i>Главная</a>
                        </li>
                        <li>
                            <a class="js-arrow" th:href="@{/all}">
                                <i class="fas fa-list-alt"></i>Пользователи технодом</a>
                        </li>
                        <li>
                            <a th:href="@{/allUsersQ}">
                                <i class="fas fa-list-alt"></i>Пользователи технодомомой</a>
                        </li>
                        <li>
                            <a th:href="@{/sendMessage}">
                                <i class="fas fa-envelope"></i>Отправить сообщение пользовательям</a>
                        </li>
                        <li>
                            <a th:href="@{/allMessages}">
                                <i class="fas fa-list-alt"></i>Вопросы и ответы</a>
                        </li>
                        <li>
                            <a th:href="@{/history}">
                                <i class="fas fa-bar-chart-o"></i>История тохнодом</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
<!-- END HEADER MOBILE-->
