

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/
@font-face {
	font-family: SourceSansPro-Regular;
	src: url('../fonts/source-sans-pro/SourceSansPro-Regular.ttf');
}

@font-face {
	font-family: SourceSansPro-Bold;
	src: url('../fonts/source-sans-pro/SourceSansPro-Bold.ttf');
}

@font-face {
	font-family: SourceSansPro-SemiBold;
	src: url('../fonts/source-sans-pro/SourceSansPro-SemiBold.ttf');
}

@font-face {
	font-family: JosefinsSans-Bold;
	src: url('../fonts/JosefinSans/JosefinSans-Bold.ttf');
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: SourceSansPro-Regular, sans-serif;
}

.validation-message{
	color: red;
	margin-bottom: 10px;
	max-width: 230px;
}

/*---------------------------------------------*/

a {
	font-family: SourceSansPro-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/*---------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	margin: 0px;
}

p {
	font-family: SourceSansPro-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}

/*---------------------------------------------*/

input {
	outline: none;
	border: none;
}

textarea {
	outline: none;
	border: none;
}


textarea:focus, input:focus {
	border-color: transparent !important;
}

input::-webkit-input-placeholder { color: #4b2354;}
input:-moz-placeholder { color: #4b2354;}
input::-moz-placeholder { color: #4b2354;}
input:-ms-input-placeholder { color: #4b2354;}

textarea::-webkit-input-placeholder { color: #4b2354;}
textarea:-moz-placeholder { color: #4b2354;}
textarea::-moz-placeholder { color: #4b2354;}
textarea:-ms-input-placeholder { color: #4b2354;}
